@font-face {
    font-family: 'vazir';
    src: url('./utilities/fonts/vazir-font-v16.1.0/Vazir-Medium.eot') format('eot');
    src: url('./utilities/fonts/vazir-font-v16.1.0/Vazir-Medium.ttf') format('ttf');
    src: url('./utilities/fonts/vazir-font-v16.1.0/Vazir-Medium.woff') format('woff');
    src: url('./utilities/fonts/vazir-font-v16.1.0/Vazir-Medium.woff2') format('woff2');
}

*{
    font-family: 'vazir';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}