.toggle-theme{
    position: absolute;
    top: 6rem;
    right: 2rem;
    width: 10%;
    display:flex;
    align-items:baseline;
    justify-content:space-around;
    transition: all, 240ms linear;
}

#darkMode .toggle-theme-header, 
#darkMode .bi{
    color: #fff;
}